/* CSS Document */
@import url('normalize.css');

body {
    font-size: 100%;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    -webkit-text-size-adjust: none;
}

@media screen and (max-width: 400px) {
    #content {
        font-size: 1.125em;
        font-weight: normal;
    }
}

@media screen and (max-width: 600px) {
    #content {
        font-size: 100%;
    }

    #mainmenu li {
    }
}

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
}

input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
}

html {
    overflow-x: hidden;
}

.both {
    clear: both;
}

.active {
    color: #F9C600;
}

.bottom_lincs_activ {
    height: 25px;
    width: 25px;
    line-height: 25px;
    color: #fff;
    background-color: #333;
    display: inline-block;
}

.bottom_lincs {
    height: 25px;
    width: 25px;
    line-height: 25px;
    color: #333;
    background-color: #E0E0E0;
    display: inline-block;
}

.pager {
    margin-top: 10px;
    margin-bottom: 10px;
}

#suggestions {
    width: 100%;
}

#close-search, #close-search-mobile {
    display: none;
    width: 30px;
    height: 30px;
    background: #808080;
    position: absolute;
    top: 5px;
    right: 9px;
    border: none;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
}

.search-panel .overview a div:hover {
    background-color: #eeeeee;
}

.search-panel .overview a.kategoriq.last::after {
    content: "";
    border-bottom: 1px solid #ccc;
    width: calc(100% - 10px);
    display: block;
    margin: 5px 5px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:active {
    color: #FF671F;
}

p {
    color: #333;
}

header {
    width: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #333;
}

header #logo {
    display: inline;
    margin: 0 0 0 5px;
    padding-left: 0;
    float: left;
}

.right_header {
    float: right;
}

header #logo img {
    height: 23px;
}

header #card {
    display: inline;
    margin: 0;
    padding-right: 5px;
    line-height: 35px;
    float: none;
}

header #in_card {
    float: right;
    line-height: 40px;
    margin-right: 10px;
    color: #fff;
}

header #lang {
    float: left;
    line-height: 20px;
    color: #fff;
    margin-top: 10px;
    padding-left: 5px;
    margin-right: 5px;
}

.login_panel {
    display: inline-block;
    float: left;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 6px;
}

#mainmenu {
    border: none;
    border-collapse: collapse;
    width: 100%;
    min-width: 315px;
    clear: both;
    height: 40px;
    color: #333;
    text-transform: uppercase;
}

#mainmenu td.is_active {
    background-color: #FF671F;
    color: #fff !important;
}

#mainmenu td.is_active a {
    background-color: #FF671F;
    color: #fff !important;
}

.help {
    float: left;
}

.help img {
    height: 23px;
    margin-right: 20px;
    margin-top: 6px;
}

#mainmenu td {
    border: none;
    min-width: 50px;
    text-align: center;
    border-collapse: collapse;
}

#mainmenu td + td {

}

#mainmenu td a {
    color: #333;
    font-size: 0.9em;
    padding: 0 5px 0 5px;
}

#mainmenu .active {
    color: #f7931e;
}

.searchdiv {
    padding: 5px 5px 5px 5px;
    background: #333;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
    position: relative;
}

.search {
    background-position: 99% center;
    background-image: url("../images/icons/Lens.png");
    background-repeat: no-repeat;
    width: calc(100% - 42px);
    display: inline-block;
    background-color: #808080;
    margin: 0;
    padding: 0;
    color: #fff;
    border: 0;
    padding-left: 4px;
    height: 30px;
    outline: none;
}

.search:focus {
    outline: none;
}

.small-banner-img {
    display: block !important;
}

.big-banner-img {
    display: none !important;
}

@media screen and (min-width: 700px) {
    .search {
        float: right;
        width: 300px;
    }

    .big-banner-img {
        display: block !important;
    }

    .small-banner-img {
        display: none !important;
    }

    .textinputdiv {
        width: 300px !important;
    }

    .textareainputdiv {
        width: 300px !important;
    }

    .reg-field-street {
        width: 49% !important;
        float: left !important;
        margin-left: 0% !important;
    }

    .reg-field-number {
        width: 49% !important;
        float: right !important;
    }

    .reg-field-three {
        width: 30% !important;
        float: left !important;
        margin-left: 5% !important;
    }
}

@media screen and (max-width: 550px) {
    .footer-h1 {
        display: none;
    }

    .footer-inside {
        width: 135px !important;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 350px) {
    .textinputdiv {
        width: calc(100% - 20px) !important;
    }

    .textareainputdiv {
        width: calc(100% - 20px) !important;
    }

    .button {
        width: calc(100% - 19px) !important;
    }
}

.reg-field-left {
    width: 49%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    border: 1px solid #CCC;
    box-sizing: border-box;
    padding: 5px;
    height: 28px;
    border-radius: 0px;
    box-shadow: none;
}

.reg-field-right {
    width: 49%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    border: 1px solid #CCC;
    box-sizing: border-box;
    padding: 5px;
    height: 28px;
    border-radius: 0px;
    box-shadow: none;
}

.reg-field-street {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    margin-left: 0%;
    border: 1px solid #CCC;
    box-sizing: border-box;
    padding: 5px;
    height: 28px;
    border-radius: 0px;
    box-shadow: none;
}

.reg-field-number {
    width: 49%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    border: 1px solid #CCC;
    box-sizing: border-box;
    padding: 5px;
    height: 28px;
    border-radius: 0px;
    box-shadow: none;
}

.reg-field-three {
    width: 49%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    border: 1px solid #CCC;
    box-sizing: border-box;
    padding: 5px;
    height: 28px;
    margin-left: 0%;
    border-radius: 0px;
    box-shadow: none;
}

.textinputdiv {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #CCC;
    width: calc(100% - 15px);
    border-radius: 0px;
    box-shadow: none;
}

.textinput {
    width: 100%;
    margin: 0;
    padding: 5px;
    border: 0;
    height: 28px;
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: none;
}

.textareainputdiv {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #CCC;
    width: calc(100% - 15px);
    box-shadow: none;
}

.textareainput {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    height: 60px;
    border-radius: 0px;
    box-shadow: none;
}

#content {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#big_advert_img {
    display: block;
    float: left;
}

.thumbnail {
    width: 100%;
    max-width: 1000px;
    margin: 0;
    padding: 0;
    float: left;
}

.big_advert_link {

    height: 26px;
    line-height: 26px;
    background-color: #333333;
    display: block;
    clear: both;
    padding-left: 10px;
}

.datetime {
    border-bottom: 1px solid #888;
    font-size: 0.9em;
    color: #888;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.news_box {
    margin-bottom: 20px;
}

.new_text a {
    color: #333;
}

.new_text {
    margin-top: 3px;
    margin-left: 5px;
}

.new_text p {
    margin: 0;
    padding: 0;
}

.new_text span {
    margin: 0;
    padding: 0;
}

.new_text br {
    margin: 0;
    padding: 0;
}

#articuli {
    width: 100%;
}

.articulsss {
    border-bottom: 1px solid #ccc;
    width: 140px;
    padding-right: 5px;
    margin: 0;
    display: inline-block;
    padding-bottom: 10px;
}

.articul .promo {
    position: absolute;
    top: -10px;
    right: 5px;
    margin-top: 15px;
}

.articul {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding-bottom: 10px;
    padding-right: 5px;
    margin-top: 10px;
    width: 140px;
    min-height: 220px;
    position: relative;
}

.articulContainer {
    width: auto;
    height: auto;
    overflow: hidden;
}

.articulMobileName {
    font-size: 13px;
    float: left;
    display: none;
    text-align: left;
}

.Cartplus {
    font-size: 18px;
    margin-left: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.articulCart {
    position: relative;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    float: left;
    padding-bottom: 15px;
    margin-bottom: 10px;
    padding-right: 5px;
    margin-top: 1px;
    width: 100%;
}

.articulCartGroup {
    position: relative;
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 140px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    padding-right: 5px;
    margin-top: 1px;
    width: 100%;
}

.cart_articul_info {
    width: 150px;
    display: inline-block;
    float: left;
}

.cart_articul_info_name {
    position: absolute;
    top: 30px;
    left: 160px;
    text-align: left;
    font-size: 13px;
    min-height: 52px;
    width: 250px;
}

.cart_articul_info_price {
    position: absolute;
    top: 30px;
    right: 47px;
}

.cart_item_options {
    position: absolute;
    top: 27px;
    left: 61%;
}

.cart_item_options select {
    float: right;
    margin-right: 20px;
    width: 100px;
    height: 30px;
}

.articul_img {
    height: 135px;
    padding: 0;
    text-align: center;
    width: 140px;
    overflow: hidden;
}

.articul_img .imageCenter {
    height: 135px;
    margin: 0;
    width: 140px;
}

.articul_img img {
    max-width: 140px;
    max-height: 105px;
    border: none;
    padding: 0px;
}

.articul_info {
    width: 150px;
    display: inline-block;
    float: left;
    padding-left: 10px;
}

.articul_info_name {
    font-size: 13px;
    min-height: 52px;
    max-width: 140px;
    text-align: left;
}

.articul_info_price {
    display: inline-block;
    float: right;
    margin-right: 16px;
}

#links {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    font-size: 11px;
    font-style: italic;
    text-transform: uppercase;
    background-color: #0071b9;
    color: #fff;
    border-bottom: 1px solid #1a1a1a;
}

#links ul {
    margin-left: -20px;
}

#links li {
    height: 20px;
}

footer {
    border-top: 1px solid #666;
    width: 100%;
    clear: both;
    background-color: #666;
    height: 26px;
    color: #ccc;
    text-align: center;
    font-size: 13px;
}

footer a {
    line-height: 26px;
}

.footer-inside {
    width: 385px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.footer-credentials {
    margin-top: 5px;
    display: block;
    color: #FFF;
    float: left;
}

.footer-h1 {
    font-size: 13px;
    margin-left: 10px;
    float: left;
    font-weight: 400;
    line-height: 9px;
    margin-top: 8px;
}

#categories_wrapper {
    color: #333;
    width: 100%;
}

.category_box {
    color: #333;
    padding-left: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    display: block;
    margin-top: 10px;
    padding-bottom: 10px;
}

.category_drop_box {
    background-color: #333;
    width: 100%;
    display: none;
}

.category_drop_item {
    padding-left: 10px;
    text-transform: uppercase;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}

.category_drop_item_active {
    padding-left: 10px;
    text-transform: uppercase;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}

.mark_box {
    height: 60px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#where_am_i_box {
    width: 100%;
    background-color: #FFF;
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: #333;
}

#where_am_i {
    padding-left: 5px;
    padding-top: 3px;
    line-height: 26px;
    color: #333;
    display: inline-block;
}

#breadcrumb {
    width: 100%;
    background-color: #4d4d4d;
    color: #fff;
}

#bread {
    padding-left: 5px;
    line-height: 26px;
}

#options_box {
    border-bottom: 1px solid #ccc;
}

#options_box table {
    width: 100%;
}

#options_box tr {
    width: 100%;
    height: 26px;
}

#options_box td {
    width: 15%;
    text-align: center;
}

#item_box {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(242, 242, 242);
    position: relative;
    word-wrap: break-word;
}

#item_box:after {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-color: transparent transparent rgb(242, 242, 242) transparent;
    border-style: solid;
    border-width: 15px;
}

#item_img {
    width: 100%;
    display: block;
}

.item_img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
    padding: 0;
}

.item_img_small {
    margin: 0;
    padding: 0;
}

#item_name {
    margin-left: 5px;
}

#item_price {
    float: right;
    color: #000;

    text-align: right;
    font-size: 19px;
    font-style: italic;
}

.item_razmer {
    margin-top: 5px;
}

.item_razmer a, .upgrades a {
    background-color: #FFF;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    height: 22px;
    min-width: 45px;
    color: #808080;
    border: 1px solid #CCC;
    margin-right: 4px;
    margin-bottom: 4px;
}

.item_razmer a:hover, .item_razmer a.active, .upgrades a:hover, .upgrades a.active {
    background-color: #FF671F;
    color: #fff;
    border-color: #FF671F;
}

#item_info {
    padding-left: 5px;
    padding-right: 5px;
}

#item_more_img_link {

}

#item_more_img_link a {
    color: #333;
}

#more_img_link {
    height: 20px;
    line-height: 30px;
    padding: 10px;
}

#item_more_img_box {
    display: none;
    text-align: center;
}

#item_options {
    margin-top: 5px;
}

#item_options select {
    float: right;
    margin-right: 20px;
    width: 100px;
    height: 30px;
}

.submit_button {
    height: 35px;
    background-color: #FF671F;
    padding: 0px 15px 0px 15px;
    float: right;
    min-width: 100px;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
}

.btnaddprod {
    background: none repeat scroll 0 0 #ff671f;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    padding: 2px 10px;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

#item_adds {
    color: #0071b9;
    text-align: right;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#info_tab {
    width: 100%;
    background-color: #CCC;
    color: #FFF;
    height: 26px;
}

#info_tab a {
    color: #FFF;
}

#info_tab p {
    color: #FFF;
    margin: 0;
    padding-left: 5px;
    line-height: 26px;
}

.card_price {
    color: #000;
    font-size: 19px;

    text-align: right;
    font-style: italic;
}

textarea {
    width: 98%;
    resize: none;
    margin-bottom: 5px;
}

#button {
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
}

.button {
    background-color: #FF671F;
    padding: 0px 15px 0px 15px;
    width: 300px;
    height: 35px;
    float: left;
    line-height: 25px;
    text-align: center;
    border-radius: 0px;
    box-sizing: border-box;
}

.forgot-pass-text {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.buttonMore {
    height: 25px;
    display: block;
    background-color: #AAA;
    padding: 0px 15px 0px 15px;
    width: 30%;
    min-width: 140px;
    margin: 10px auto;
    line-height: 25px;
    text-align: center;
}

.the_new_box {
    padding-top: 10px;
    margin-bottom: 20px;
}

.the_new_big_img {
    float: left;
    width: 100%;
}

.the_new_name_date {
    display: block;
}

.the_new_name {
    float: left;
    margin-left: 10px;
    display: inline-block
}

.the_new_date {
    float: right;
    margin-right: 10px;
    display: inline-block
}

.the_new_text {
    width: 100%;
    list-style: none;
}

.the_new_text p {
    margin: 0;
    padding: 0;
}

.the_new_text a {
    margin: 0;
    padding: 0;
}

.the_new_text span {
    margin: 0;
    padding: 0;
    max-width: 100%;
    float: left;
}

.the_new_text br {
    margin: 0;
    padding: 0;
}

.the_new_text ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.the_new_text li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.proddiv-specification {
    float: left;
    font-family: 'Verdana', sans-serif;
    font-size: 10px;
    text-align: left;
    overflow: hidden;
    max-height: 76px;
    word-wrap: break-word;
    width: 100%;
    box-sizing: border-box;
    padding-right: 15px;
}

#address, #address a, #address p {
    margin: 0;
    padding: 0;
}

#options_box a {
    color: #333;
}

#slider {
    background-color: #333;
    width: 100%;
}

#sliderContent {
    background-color: #333333;
    color: #CCC;
    font-weight: bold;
    display: none;
}

.topMenuAction {
    padding-left: 10px;
    text-transform: uppercase;
    color: #FFF;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}

.error {
    color: red;
    margin-bottom: 20px;
    text-align: center;
}

.plus {
    margin-left: 5px;
}

.dop_item_name {
    margin-left: 5px;

}

.dop_item_name a {
    color: #333;
}

#footer-newsletter {
    margin: 25px 0 0 0;
    color: #666;
    width: 100%;

}

#footer-newsletter p {
    color: #666666;
    margin: 10px 0 20px 0;
    padding-right: 70px;
    padding-left: 5px;
}

#footer-newsletter #email {
    height: 30px;
    background: #4d4d4d;
    border: 1px solid transparent;
    outline: none;
    color: #fff;
    width: 310px;
    display: block;
    padding-left: 10px;
}

#footer-newsletter #email:hover, #footer-newsletter #email:focus {
    border: 1px solid #fff;
}

#footer-newsletter form {
    padding-left: 5px;
}

#footer-newsletter #submit {
    width: 120px;
    height: 30px;
    background-color: #808080;
    color: #fff;
    border: none;
    outline: none;
    margin: 20px 0 0 0;
    cursor: pointer;
    padding-bottom: 2px;
}

#footer-newsletter #submit:hover {
    background-color: #FF671F;
}

.f-label {
    padding-left: 5px;
}

.response {
    padding: 5px;
    height: 20px;
}

.response .error {
    color: #FF671F;
    clear: both;
    text-align: left;
    font-size: 13px;
}

.bx-wrapper .bx-controls-direction a {
    width: 25px !important;
    height: 25px !important;
    top: 43% !important;
    margin-top: 0px !important;
}

.bx-wrapper .bx-next {
    right: 0px !important;
}

.bx-wrapper .bx-prev {
    left: 12px !important;
}

.bx-wrapper {
    width: 100% !important;
    margin: 0 !important;
    position: relative;
}

.cc-window.cc-floating {
    max-width: 100% !important;
    width: 100% !important;
}

.responsive-icon {
    width: 30px !important;
    height: 30px;
    padding-right: 5px;
    background: url('../images/nav/menu_r_i.png') no-repeat;
    display: inline-block;
    cursor: pointer;
    float: left;
}

#collection_container {
    text-align: left;
}

#collection_label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #999999;
    font-weight: normal;
}

.collection-item {
    border: 1px solid #ccc;
    width: 64px;
    height: 60px;
    background-color: #fff;
    display: flex;
    margin-right: 5px;
    float: left;
    align-items: center;
}

#collection_container .current, #collection_container .collection-item:hover {
    border: 1px solid #FF671F !important;
}

.collection-item img {
    max-width: 55px;
    height: auto;
    max-height: 55px;
    display: block;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}

.product-slider div.bx-controls-direction {
    display: block !important;
}

.bx-wrapper, .bx-viewport {
    height: auto !important;
}

.bx-viewport:before, .panel:before {
    display: inline-block;
    vertical-align: middle;
}

.bx-wrapper img {
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
    max-height: 100%;
}

.adv-text, .adv-text p, .adv-text span {
    text-align: center;
    position: relative;
    z-index: 999;
    min-height: 30px;
    line-height: 30px;
}

.adv-text span {
    font-size: 0.9em !important;
}

.adv-text p {
    margin: 0;
}

#pre-order-dialog {
    display: none;
    color: #FF671F;
    font-family: Verdana !important;
    font-size: 15px;
    min-height: 100% !important
}

.ui-dialog .ui-dialog-titlebar {
    display: none;
}

.ui-dialog .ui-dialog-buttonpane {
    margin: 0 !important;
}

.ui-dialog .ui-widget-content {
    background-color: #fff;
    border: 0;
}

.ui-dialog.ui-widget {
    border-radius: 0;
    border: 0;
    padding: 0;
    margin: 0;
    max-width: 400px;
    background: #fff;
}

.ui-dialog .ui-button, .ui-dialog .ui-widget-content .ui-button, .ui-dialog .ui-widget-header .ui-button {
    border-radius: 0;
    border: 0;
    background: #FF671F;
    color: #fff;
    font-weight: normal;
    outline: none;
    font-size: 11pt;
    width: 175px;
    padding: .4em 1em;
}

body .ui-dialog .ui-dialog-buttonpane button {
    color: #fff;
    font-size: 11pt;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    outline: none;
}

.btn-cancel {
    background: #d6d6d6 !important;
}

.stop-scrolling {
    overflow: hidden;
}

.prodinfotext {
    margin-top: -5px;
    display: block;
    text-align: left;
    color: #000000;
    font-size: 13pt;
    line-height: 18px;
    width: 100%;
}

.prodinfotext a {
    background-color: #FFF;
    font-size: 11px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    height: 22px;
    color: #808080;
    min-width: 45px;
    margin-right: 4px;
    margin-bottom: 4px;
    border: 1px solid #CCC;
}

div.proddetailinfo {
    padding: 0 15px;
}

div.product_description {
    padding: 0 5px;
}

.prodpricenormal {
    text-decoration: line-through;
    color: #424242;
    font-size: 15pt;
    font-weight: normal;
    float: right;
    margin: 0 5px;
    font-family: Arial
}

.product-slider .bx-wrapper img {
    max-width: 90% !important;
}

.lang-icon {
    display: inline-block;
    margin-top: 6px;
    margin-left: 6px;
    float: left;
    cursor: pointer;
}

#lang-container {
    padding: 0 !important;
}

.btn-lang {
    width: 100% !important;
    background: #333 !important;
    margin: 10px 0 0 0 !important;
}

.btn-lang:first-child {
    margin: 0 !important;
}

.ui-dialog .ui-dialog-buttonpane.lang-buttonpane {
    padding: 10px !important;
}

.lang-buttonpane .ui-dialog-buttonset {
    float: none !important;
}

.contact-big-col {
    float: right;
    width: 457px;
    height: auto;
}

.map-google {
    width: 48%;
    height: 400px;
}

.cart_item_options .qty {
    display: inline-block;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    color: #FF671F;
    font-size: 18px;
}

.cart_item_options .remove_qty {
    visibility: hidden;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
    width: 49%;
    float: left;
}

.row-right {
    float: right;
}

.row-left {
    float: left;
}

.row-half {
    width: 48%;
    float: left;
}

.row-three {
    width: 78%;
}

.row-one {
    width: 18%;
}

.row-right .row-half:last-child {
    float: right;
    width: 48%;
}

.row-left .row-half:last-child {
    float: right;
    width: 48%;
}

.no-margin-l {
    margin-left: 0;
}

.user-reg-field-three {
    width: 32%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    margin-left: 2%;
    border: 1px solid #CCC;
    box-sizing: border-box;
    padding: 5px;
    height: 28px;
    border-radius: 0px;
    box-shadow: none;
}

.filter {
    float: right;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    display: inline-block;
    margin-right: 2px;
}

.filter span {
    margin-right: 5px;
}

.filter a.current {
    color: #fff !important;
    padding: 0 5px;
    height: 20px;
    line-height: 17px;
    display: inline-block;
    background: #4D4D4D;
}

.filter a {
    font-size: 9pt;
    color: #333;
    font-family: verdana;
}

.filter a:hover {
    color: #ff671f;
}

.top-row {
    margin-bottom: 10px;
    text-align: left;
}

.top-row label {
    display: inline-block;
    margin-right: 10px;
}

.radio-divider {
    width: 45px;
    display: inline-block;
    height: 10px;
}

body .ui-widget-overlay {
    background-color: #666;
    opacity: .50;
    filter: Alpha(Opacity=50);
}

.rotate-90 {
    display: block;
    width: 40px;
    height: 16px;
    padding-top: 18px;
    padding-right: 40px;
    font-size: 12px;
    text-align: center;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.clear {
    clear: both;
}

@media screen and (max-width: 1290px) {
    .articul {
        padding-right: 15px;
    }
}

@media screen and (max-width: 1270px) {
    .articul {
        padding-right: 12px;
    }
}

@media screen and (max-width: 1245px) {
    .articul {
        padding-right: 10px;
    }
}

@media screen and (max-width: 1230px) {
    .articul {
        padding-right: 7px;
    }
}

@media screen and (max-width: 1205px) {
    .articul {
        padding-right: 5px;
    }
}

@media screen and (max-width: 1190px) {
    .articul {
        padding-right: 25px;
    }
}

@media screen and (max-width: 1185px) {
    .articul {
        padding-right: 21px;
    }
}

@media screen and (max-width: 1155px) {
    .articul {
        padding-right: 18px;
    }
}

@media screen and (max-width: 1135px) {
    .articul {
        padding-right: 15px;
    }
}

@media screen and (max-width: 1115px) {
    .articul {
        padding-right: 11px;
    }
}

@media screen and (max-width: 1085px) {
    .articul {
        padding-right: 8px;
    }
}

@media screen and (max-width: 1065px) {
    .articul {
        padding-right: 5px;
    }
}

@media screen and (max-width: 1045px) {
    .articul {
        padding-right: 27px;
    }
}

@media screen and (max-width: 1030px) {
    .articul {
        padding-right: 24px;
    }
}

@media screen and (max-width: 1015px) {
    .articul {
        padding-right: 20px;
    }
}

@media screen and (max-width: 990px) {
    .articul {
        padding-right: 16px;
    }
}

@media screen and (max-width: 965px) {
    .articul {
        padding-right: 10px;
    }
}

@media screen and (max-width: 930px) {
    .articul {
        padding-right: 5px;
    }
}

@media screen and (max-width: 900px) {
    .articul {
        padding-right: 30px;
    }
}

@media screen and (max-width: 880px) {
    .articul {
        padding-right: 27px;
    }
}

@media screen and (max-width: 865px) {
    .articul {
        padding-right: 24px;
    }
}

@media screen and (max-width: 850px) {
    .articul {
        padding-right: 20px;
    }
}

@media screen and (max-width: 830px) {
    .articul {
        padding-right: 15px;
    }
}

@media screen and (max-width: 805px) {
    .articul {
        padding-right: 10px;
    }
}

@media screen and (max-width: 780px) {
    .articul {
        padding-right: 5px;
    }
}

@media screen and (max-width: 755px) {
    .articul {
        padding-right: 37px;
    }
}

@media screen and (max-width: 735px) {
    .articul {
        padding-right: 34px;
    }
}

@media screen and (max-width: 725px) {
    .articul {
        padding-right: 30px;
    }
}

@media screen and (max-width: 710px) {
    .articul {
        padding-right: 25px;
    }
}

@media screen and (max-width: 690px) {
    .articul {
        padding-right: 20px;
    }
}

@media screen and (max-width: 670px) {
    .articul {
        padding-right: 15px;
    }

}

@media screen and (max-width: 650px) {
    .articul {
        padding-right: 10px;
    }
}

@media screen and (max-width: 630px) {
    .articul {
        padding-right: 5px;
    }
}

@media screen and (max-width: 610px) {
    .articul {
        padding-right: 22px;
        padding-left: 22px;
    }

    /*.articul_img{
        height: 121px;
        width: 133px;
    }

    .articul_img img{
        max-width: 119px;
        max-height: 92px;
    }*/
    .articul {
        min-height: 255px;
    }

    .cart_articul_info_name {
        left: 135px;
        width: 150px;
    }
}

@media screen and (max-width: 585px) {
    .articul {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 570px) {
    .articul {
        padding-right: 17px;
        padding-left: 17px;
    }
}

@media screen and (max-width: 550px) {
    .articul {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 535px) {
    .articul {
        padding-right: 12px;
        padding-left: 12px;
    }
}

@media screen and (max-width: 525px) {
    .articul {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 515px) {
    .articul {
        padding-right: 7px;
        padding-left: 7px;
    }
}

@media screen and (max-width: 505px) {
    .articul {
        padding-right: 10px;
    }

    .filter {
        float: none;
        margin-left: 10px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 495px) {
    .articul {
        padding-right: 5px;
    }
}

@media screen and (max-width: 485px) {
    .articul {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 465px) {
    .articul {
        padding-right: 35px;
        padding-left: 35px;
    }

    /*.articul_img{
        height: 100px;
        width: 120px;
    }

    .articul_img img{
        max-width: 88px;
        max-height: 65px;
    }*/
    .articul {
        min-height: 235px;
    }

    .cart_articul_info_name {
        display: none;
    }

    .articulMobileName {
        display: block;
    }

    .cart_item_options {
        left: 50%;
    }
}

@media screen and (max-width: 455px) {
    .articul {
        padding-right: 32px;
        padding-left: 32px;
    }
}

@media screen and (max-width: 445px) {
    .articul {
        padding-right: 30px;
        padding-left: 30px;
    }

    .radio-divider {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 435px) {
    .articul {
        padding-right: 27px;
        padding-left: 27px;
    }
}

@media screen and (max-width: 425px) {
    .articul {
        padding-right: 25px;
        padding-left: 25px;
    }
}

@media screen and (max-width: 415px) {
    .articul {
        padding-right: 22px;
        padding-left: 22px;
    }
}

@media screen and (max-width: 405px) {
    .articul {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 395px) {
    .articul {
        padding-right: 17px;
        padding-left: 17px;
    }

    .cart_articul_info_name {
        left: 5px;
        top: 95px;
        width: 100%;
    }

    .cart_item_options {
        left: 35%;
    }
}

@media screen and (max-width: 385px) {
    .articul {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 375px) {
    .articul {
        padding-right: 12px;
        padding-left: 12px;
    }
}

@media screen and (max-width: 365px) {
    .articul {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 355px) {
    .articul {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media screen and (max-width: 1100px) {
    .map-google {
        height: 350px;
    }
}

@media screen and (max-width: 1000px) {
    .map-google {
        width: 44%;
        height: 300px;
    }
}

@media screen and (max-width: 900px) {
    .map-google {
        width: 100%;
        height: 300px;
    }

    .contact-big-col {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    #footer-newsletter #email {
        width: calc(100% - 29px);
    }

    #mainmenu td {
        width: 24.90%;
    }

    #mainmenu td + td {
        background: none;
    }

    #mainmenu td a {
        display: inline-block;
        color: #333;
        padding: 0 5px 0 5px;
        text-align: center;
        line-height: 13px;
        margin-top: 4px;
    }

    #mainmenu td + td > a {

    }

    .ui-dialog .ui-state-default, .ui-dialog .ui-widget-content .ui-state-default, .ui-dialog .ui-widget-header .ui-state-default {
        border-radius: 0;
        border: 0;
        background: #FF671F;
        color: #fff;
        font-weight: normal;
        outline: none;
        font-size: 11pt;
        width: 100%;
    }

    .ui-dialog .ui-dialog-buttonpane {
        padding: 0 15px !important;
    }

    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
        float: none !important;
    }

}
