@font-face {
    font-family: "Franklin";
    font-weight: bold;
    src: url("Franklin Gothic Demi Cond.ttf"),
    url("Franklin Gothic Demi Cond.ttf"),
    url("Franklin Gothic Demi Cond.ttf");
}
*{
    margin:0;
    padding:0;
    border:none;
}
a{
    text-decoration:none;
}
a:focus {
    outline: medium none;
}
.pager {
    display: none;
}
textarea {
    resize: none;
    border: 1px solid #999999;
    font-family: Verdana;
    font-size: 11pt;
    color:#808080;
    padding: 0 0 0 3px;
}
.wrapper{
    overflow: hidden;
}
.header
{

    clear: both;
    height: 59px;
    padding: 8px 0 0 0px;
    width: 1260px;
    margin: 0 auto;
    z-index: 1000;
    color: #333;
}
.header-wrapper {
    background-color: #333333;
    width: 100%;
}
.header a {
    color: #666;
}
.top_panel{
    color: #666;
    float:left;
    margin-top:5px;
    height: 40px;
    font-size: 13px;
}
.top_panel > a {
    height: 40px;
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
}
.top_panel > a:hover {
    color: #fff;
}
.logo {
    margin-left: 15px;
    display: block;
    float: left;
    margin-top: 5px;
}
.header-right .help {
    display: inline-block;	/* line-height: 70px; */
    margin-top: 5px;
    margin-right: 10px;
}
.logo img{

}
#logoc {
    display: none;
    float: left;
    position: relative;
    margin-top: 9px;
    left: 15px;
    height: 41px;
}
.login_panel{
    color: #ffffff;
    line-height: 25px;
    height: 25px;
    font-size: 12px;
}
.login_panel a{
    font-size:15px;
    text-decoration:none;
    color: #ffffff;
    font-size: 12px;
}
div.bx-controls-direction {
    visibility: hidden;
}
.bx-wrapper:hover div.bx-controls-direction {
    visibility: visible;
}
#main_menu {
    background: none repeat scroll 0 0 #fff;
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    clear: both;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
    position: relative;
    z-index: 5;
}

#main_menu ul {
    display: inline-block;
    height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 80px;
}
.menu-inner {
    max-width: 1260px;
    margin: 0 auto;
}

#main_menu ul div.menucontent:hover{
    display: block;
}

#main_menu ul li{
    margin:0px;
    padding:0px;
    display:inline-block;
    text-align: left;
    position:relative;
    height: 45px;
}

#main_menu ul li a{
    padding:0px;
    z-index:1000;
    color: #333;
    display: block;
    margin: 0px 13px 0px;
    text-align: center;
    text-decoration: none;
    position:relative;
    white-space:nowrap;
    font-family: Verdana;
    font-size: 13px;
    height:46px;
    line-height: 43px;
}
#main_menu ul li a.current{
    color: #333 !important;
}
.Chrome #main_menu ul div.menucontent, .Safari #main_menu ul div.menucontent{
    top: 45px;
}
#main_menu ul div.menucontent{
    float:none;
    background: #FFF;
    display: none;
    position:absolute;
    top: 46px;
    z-index:1000;
    /*box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35),inset 0 1px 0 0 #c0c0c0,inset 0 2px 0 0 #ffffff;*/
    /*-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.35),inset 0 1px 1px 0 rgba(0,0,0,0.35);*/
    /*-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.35),inset 0 1px 1px 0 rgba(0,0,0,0.35);*/
}


#main_menu ul div.menucontent:hover{
    display: block;
}

#main_menu ul li a.dropdownitem{
    color: #333;
    font-size: 10pt;
    font-weight: normal;
    margin: 5px 15px;
    height:25px;
    line-height:22px;
    text-align: left;
    text-decoration: none;
    min-width: 250px;
    font-family:Verdana;
    display: block;
}
.change-lang:hover {
    color: #fff!important;
}
.menu-inner .change-lang:hover {
    color: #333!important;
}

.promotion {
    float: right;
    height: 14px;
    margin-top: -22px;
    position: absolute;
    right: 20px;
}
.promotion a{
    font-family: Franklin, Franklin Gothic Demi Cond;
    color: #fcc900;
    font-size: 12pt;
    text-align: center;
    font-weight: bold;

}



a.prev {
    background: url("../../../css/backward_b.png") repeat scroll 0 0 transparent;
    float: left;
    font-size: 0;
    height: 26px;
    margin: 160px 0 0 0px;
    position: absolute;
    width: 21px;
    z-index: 2;
    left:0;
    display:none;
}
a.next {
    background: url("../../../css/forward_b.png") repeat scroll 0 0 transparent;
    float: right;
    font-size: 0;
    height: 26px;
    margin: 160px 0 0 0px;
    position: absolute;
    width: 21px;
    z-index: 2;
    right:0;
    display:none;
}

.categoryintrotitle{
    background:#000;
    color: #FFFFFF;
    height: 30px;
    line-height: 27px;
    margin-top: -30px;
    opacity: 0.7;
    padding-right: 10px;
    position: relative;
    text-align: right;
    font-size:14px;
}


#branches.jThumbnailScroller {
    margin: 20px 1px!important;
    clear:both;
}
.bottom_navigation{
    background-color: #1a1a1a;
    height: 20px;
    padding: 0 10px;
    text-align: left;
}
.bottom_navigation ul.menu{
    float:right;
}
.bottom_navigation ul.menu li{
    border-left: 2px solid #FFFFFF;
    display: block;
    float: left;
    height: 20px;
    padding: 0 20px;
}
.bottom_navigation ul.menu li a{
    line-height:20px;
    font-size: 10pt;
}

.banner {
    margin: 0 10px;
}
.banner a.footer_menu_item div{
    color:#333;
}
.banner .vid_menu a{
    color:#666;
    font-size: 10pt;
    font-style: italic;
}
.banner .footer_menu_item{
    margin-bottom:10px;
    display: block;
}
.left_menu{
    text-align: left;
    float:left;
    margin-left: 5px;
    width:170px;
    clear:left;
}

.left_menu a{
    font-size:9pt;
    color:#808080;
}
.left_menu a:hover,.left_menu a.second_left_menu_lincs_activ{
    color:#333;
}
.left_menu h4{
    font-size:11pt;
    color:#333;
    font-weight:normal;
}
.left_menu .count{
    color:#999;
    display:inline-block;
    margin:0 10px;
    font-size: 85%;
}
.left_menu .remove{
    color: #808080;
    display: inline-block;
    font-size: 80%;
    margin-left: 5px;
    color: #ff671f;
}
.left_menu div{
    margin:5px 0;
}
.left_menu .categori_title{
    border-bottom:solid 1px #dfdfdf;
    font-size:12pt;
    font-weight: normal;
}
.left_menu .vidove{
    margin:20px 0;
}
.left_menu .vidove a{
    font-size:11pt;
    display: inline-block;
    margin-bottom: 5px;
}

.left_menu .marki{
    margin:40px 0;
}
.left_menu .tag_grupi h4{
    margin:40px 0 0;
}
.product_navigation{
    float: left;
    text-align: left;
    margin-left: 195px;
    margin-top: 5px;
    font-size: 9pt;
}
.product_navigation .remove{
    color:#808080;
    font-size: 80%;
}
.product_navigation a{
    font-size:9pt;
    color:#808080;
}
.product_navigation a:hover{
    color:#333;
}
.proddiv {
    position: relative;
    border: 1px solid transparent!important;
}
.proddivintro {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    float: left;
    margin-bottom: -1px;
    margin-top: 1px;
}
.proddiv img.brand_img{
    max-width:60px;
    max-height:60px;
}
.proddiv .brand_image{
    float:right;
    width:60px;
    height:60px;
    margin-top:15px;
    margin-right: 5px;
    display: none;
}
.proddiv:hover
{
    position:relative;
    border: 1px solid #c9c9c9!important;
}

.proddiv:hover .brand_image{
    display: block;
}
.proddiv div.promo{
    position: absolute;
    top: 90px;
    right: 5px;
    margin-top: 15px;
}
.branch_image img{
    max-width:100px;
}
.prodinfotext a{
    background-color: #FFF;
    font-size: 11px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    height: 22px;
    color: #808080;
    min-width: 45px;
    margin-right: 4px;
    margin-bottom: 4px;
    border: 1px solid #CCC;
}
.prodinfotext a:hover, .prodinfotext a.active{
    border: 1px solid #ff671f;
    background-color: #ff671f;
    color:#fff;
}
.dayoffer img{
    max-width:140px;
    max-height:105px;
}
.dayoffer{
    display:inline-block;
    width:140px;
    margin-top:40px;
}
.dayoffer .title{
    font-size:12pt;
}

#screen2 {
    position: relative;
}
#slideshow {
    overflow: hidden;
}
#slideshow ul {
    list-style: none outside none;
    width: 3900px;
}
#slideshow li {
    cursor: url("./spyglass_z.cur"), pointer;
    float: left;
    margin: 0 10px 0 0;
}
#slideshow li a {
    cursor: url("./spyglass_z.cur"), pointer;
}
#screen2 a.prev{
    background: url("strBs.png") no-repeat scroll 0 0 transparent !important;
}
#screen2 a.next{
    background: url("strFs.png") no-repeat scroll 0 0 transparent !important;
}
.bnr-mask {

}
#theBox {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}
#theBoxLeftCol {
    width: 390px;
    padding-left: 20px;
    padding-right: 34px;
    float: left;
    display: block;
}
#theBoxRightCol {
    width: calc(100% - 444px);
    float: right;
    display: block;
}
#footer-newsletter #email {
    width: 230px;
    height: 30px;
    background: #4d4d4d;
    border: 1px solid transparent;
    outline: none;
    color: #fff;
    padding-left: 10px;
}
#footer-newsletter #email:hover {
    border: 1px solid #fff;
}
#footer-newsletter ::-webkit-input-placeholder {
    color: #fff;
}
#footer-newsletter .success {
    color: #C9C9C9 !important;
}
#footer-newsletter :-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

#footer-newsletter ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

#footer-newsletter :-ms-input-placeholder {
    color: #fff;
}
#footer-newsletter #submit {
    width: 120px;
    height: 30px;
    background-color: #808080;
    color: #fff;
    border: none;
    outline: none;
    margin: 10px 0 0 0;
    cursor: pointer;
    padding-bottom: 2px;
}
#footer-newsletter #submit:hover {
    background-color: rgb(255, 103, 31);
}
#footer-newsletter form {
    margin-bottom: 15px;
    margin-top: 53px;
}
.datetimeintro{
    border-bottom: 1px solid #c9c9c9;
    font-size: 0.9em;
    color: #888;
    min-height: 20px;
    width: 390px;
    padding-right: 10px;
    margin-bottom: 5px;
}
.news_box_intro {
    margin-bottom: 20px;
}
.news_box_intro:hover .new_text_intro a{
    color: #333;
}
.new_text_intro a{
    color: #888;
    font-size: 13px;
}
.new_text_intro p {
    margin: 0;
    padding: 0;
}
.new_text_intro span {
    margin: 0;
    padding: 0;
}
.new_text_intro br {
    margin: 0;
    padding: 0;
}
.articulIntro
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    float: left;
    height: 250px;
    margin-bottom: 10px;
    padding-right: 10px;
    margin-top: 1px;
    width: 200px;
}
.articulIntro_img
{
    height: 135px;
    padding: 0;
    text-align: center;
    width: 140px;
    overflow: hidden;
}
.articulIntro_img .imageCenterIntro{
    height: 135px;
    margin: 0;
    width: 140px;
}
.articulIntro_img img
{
    max-width: 140px;
    max-height:135px;
    border: none;
    padding:0px;
}
.articulIntro_info {
    width: 150px;
    display: inline-block;
    float: left;
    padding-left: 10px;
}
.articulIntro_info_name {
    font-size: 13px;
    min-height: 52px;
    max-width: 140px;
}
.ArtikulIntroCena{
    margin-right: 10px;
    float: right;
    display: inline-block;
}
.prodIntroo
{
    color: #424242;
    font-size: 11px;
    height: 40px;
    line-height: 18px;
    margin: 0 15px;
    text-align: left;
    width: 185px;
}
#FourBannersBox {
    width: 100%;
    margin: 30px auto;
}
.clear {
    clear: both;
}
#FourBannersBox .last {
    margin: 0;
}
.four-banners-bnr{
    width: 400px;
    height: 225px;
    float: left;
    position: relative;
    margin-right: 30px;
    display: inline-block;
}
.big-banners .bx-wrapper .bx-pager {
    padding-top: 8px;
    bottom: auto;
}
.dopproddiv {
    height: 210px;
    width: 144px;
    display: inline-block;
}
.dopprodimgdiv {
    width: 100%;
    height: 110px;
}
.dopprodinfodiv {
    width: 100%;
    font-size: 11px;
}
#dopprodcont{
    width: 100%;
    margin: 0 auto;
}
#plus {
    width: 40px;
    font-size: 35px;
    color: #808080;
    margin: 0 auto;
}
#wrapper .f-label {
    float: left;
    display: inline-block;
    height: 26px;
    text-align: top;
    text-transform: uppercase;
    font-size: 18px !important;
    font-family: Verdana !important;
    margin-bottom: 3px;
    color: #333;
}
.showmoredis {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    height: 20px;
    display: none;
    text-align: center;
    font-size: 13px;
    color: rgb(51, 51, 51);
    background-color: #fff;
}
.hidemoredis {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    padding-top: 5px;
    display: none;
    text-align: center;
    font-size: 13px;
    color: rgb(51, 51, 51);
    background-color: #fff;
}
.product_description {
    line-height: 18px;
    text-align: left!important;
    font-family: Verdana;
    font-size: 10pt;
}
.prodnamebox {
    height: 75px;
    overflow: hidden;
    width: 140px;
    float: left;
    display: inline-block;
}
.prodpricebox {
    width: 100px;
    display: inline-block;
}
#h-footer {
    border-top: 1px solid #CCC;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    color: #fff;
    background-color: #333;
    padding-top: 20px;
    height: 260px;
    padding-bottom: 20px;
}
#h-footer-box {
    width: 1240px;
    margin: 0 auto;
}
#h-footer a {
    color: #666;
    text-transform: lowercase;
}
#h-footer ul {
    margin: 0;
    padding: 0;
}
#h-footer ul li {
    list-style: none;
    padding-top: 10px;
}
#h-footer ul li:nth-child(1) {
    padding-top: 0px;
}
#h-footer ul li a {
    font-size: 13px;
}
#h-footer a:hover {
    color: #fff;
}
.f-icon {
    float: left;
    width: 26px;
    height: 26px;
    margin-left: 5px;
    display: inline-block;
}
.f-icon img {
    width: 26px;
    height: 26px;
}
.f-label a{
    float: left;
    display: inline-block;
    height: 26px;
    text-transform: uppercase!important;
    font-size: 18px !important;
    font-family: Verdana !important;
    margin-bottom: 3px;
    color: #c9c9c9!important;
}
#footer-cats {
    float: left;
    margin-left: 10px;
    width: 350px;
    height: 260px;
    position: relative;
    border-right: 1px solid #4d4d4d;
}
.f-cats-col {
    width: 140px;
    display: inline-block;
    margin-right: 10px;
    float: left;
}
.f-cats-col:nth-child(3) {
    margin-right: 0px;
}
#footer-paypal {
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.paypal-card {
    display: inline-block;
    height: 30px;
    margin-right: 10px;
}
.paypal-card img{
    height: 30px;
}
#footer-contacts span {
    color: #666!important;
}
#footer-contacts {
    width: 250px!important;
}
#footer-social {
    float: left;
    width: 297px;
    min-height: 260px;
    font-size: 12px;
    margin-left: 20px;
    line-height: 17px;
    color: #666!important;
    font-size: 13px;
}
#footer-contacts,#footer-newsletter {
    float: left;
    width: 270px;
    min-height: 260px;
    font-size: 12px;
    margin-left: 20px;
    line-height: 17px;
    color: #666!important;
    font-size: 13px;
    border-right: 1px solid #4d4d4d;
}
#footer-contacts ul {
    margin-top: 5px;
}
#footer-form {
    float: left;
    margin-left: 10px;
    width: 240px;
}
#footer-form input{
    border: 1px solid #999999;
    width: 240px;
    margin-bottom: 5px;
    color: #333;
    font-size: 13px;
    padding: 5px;
}
#footer-form input:hover, #footer-form input:focus,#footer-form textarea:hover,#footer-form textarea:focus {
    border: 1px solid #FF671F;
}
#footer-message {
    color: #333;
    width: 247px;
    height: 120px;
    resize: none;
    border: 1px solid #999999;
    font-size: 13px;
}
#footer-button {
    margin-top: 5px;
    display: block;
    width: 100px;
    text-align: center;
    height: 25px;
    line-height: 23px;
    background-color: #FF671F;
    float: right;
    margin-right: -10px;
}
#footer-likes {
    float: left;
    width: 240px;
    margin-left: 20px;
}
.big-banners {
    background-image: url("images/bx_loader.gif");
    background-position: 50% center;
    background-repeat: no-repeat;
    font-family: Arial;
}
.banners-slider {
    visibility: hidden;
    position: relative;
    z-index: 1;
}
.header-text {
    background-color: #FF671F;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-align: center;
    height: 36px;
    line-height: 36px;
}
.inner-header-text {
    width: 1260px;
    margin: 0 auto;
    text-align: center !important;
}
.inner-header-text a {
    color: #fff;
    display: inline-block;
    width: 100%;
    font-family: inherit;
}
.thrban_info {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: rgba(51, 51, 51, 0.6);
    color: #FFF;
    line-height: 30px;
    font-family: Arial;
    font-size: 16px;
}
.lang-container, .lang-container-mini {
    float: left;
}
.lang-container a.change-lang {
    display: block;
    line-height: 25px;
    text-align: left;
    margin-left: 8px;
    color: #666;
    font-weight: normal;
}
.lang-container-mini a.change-lang {
    display: none;
    line-height: 25px;
    text-align: left;
    margin-left: 7px;
    color: #666;
    font-weight: normal;
}