/* CSS Document */

@import url('normalize.css');

body {
    font-size: 100%;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    -webkit-text-size-adjust: none;
}
@media screen and (max-width:400px) { 
	#content {
	font-size: 1.125em;
	font-weight: normal;
	}
}
@media screen and (max-width: 600px) { 
	#content {
	font-size: 100%;
	}
	#mainmenu li {
	}
}

.both {
    clear: both;
}
.active {
	color: #F9C600;
}
.is_active {
	color: #F9C600;
}
.bottom_lincs_activ {
	height: 25px;
	width: 25px;
	line-height: 25px;
	color: #fff;
	background-color: #333;
	display: inline-block;
}
.bottom_lincs {
	height: 25px;
	width: 25px;
	line-height: 25px;
	color: #333;
	background-color: #E0E0E0;
	display: inline-block;
}
.pager {
	margin-top: 10px;
	margin-bottom: 10px;
}
#suggestions {
	width: 100%;
}
a {
    text-decoration: none;
    color: #fff;
}
a:active {
    color: #F7931E;
}
p {
    color: #333;
}

header {
    width: 100%;
	min-width: 315px;
    height: 40px;
    background: #333;
}
header #logo {
    display: inline;
    margin: 0px 0 0 5px;
    padding-left: 0px;
    float: left;
}
header #card {
    display: inline;
    margin: 0;
    padding-right: 5px;
    float: right;
}
header #in_card {
    float: right;
    line-height: 40px;
    margin-right: 10px;
    color: #fff;
}
header #lang {
    float: left;
    line-height: 40px;
    color: #fff;
    padding-left: 5px;
    margin-right: 5px;
}

#mainmenu {
    width: 100%;
    min-width: 315px;
    height: 26px;
    padding: 3px 0 7px 0;
    clear: both;
    color: #fff;
    background: #333;
    margin: 5px 0 5px;
    text-transform: uppercase;
}
#mainmenu td {
    min-width: 50px;
    text-align: center;
    background: #333;
    padding: 5px 0 6px 6px;
}
#mainmenu td+td {

}
#mainmenu td a {

font-size: 0.9em;
}
@media screen and (max-width:400px) { 
	#mainmenu td {
	width: 24.90%;
	}
	#mainmenu td+td {
	background: none;
	}
	#mainmenu td a {
	display: inline-block;
	padding: 0 4px 0 4px;
	text-align: center;
	line-height: 13px;
	margin-top: 4px;
	}
	#mainmenu td+td>a {
	
	}
}
#mainmenu .active {
color: #f7931e;
}
.searchdiv{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #666;
    min-width: 300px;
}
.search {
    background-position: right;
    background-image: url("../images/Lens.png");
    background-repeat: no-repeat;
    width: 100%;
    min-width: 300px;
    margin: 0;
    padding: 0;
    border: 0;
    height: 26px;
}
.textinputdiv{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #CCC;
    min-width: 300px;
}
.textinput {
    width: 100%;
    min-width: 300px;
    margin: 0;
    padding: 0;
    border: 0;
    height: 26px;
}
.textareainputdiv{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #CCC;
    min-width: 300px;
}
.textareainput {
    width: 100%;
    min-width: 300px;
    margin: 0;
    padding: 0;
    border: 0;
    height: 60px;
}
#content {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
#big_advert_img{
    display: block;
    float: left;
}
.thumbnail {
    width: 100%;
    max-width: 640px;
    margin: 0;
    padding: 0;
    float: left;
}
.big_advert_link{
    
    height: 26px;
    line-height: 26px;
    background-color: #333333;
    display: block;
    clear: both;
    padding-left: 10px;
}

.datetime {
    border-bottom: 1px dashed #888;
    font-size: 0.9em;
	color: #888;
	padding-left: 10px;
	padding-right: 10px;
}
.news_box {
	margin-bottom: 20px;
}
.new_text a{
	color: #333;
}
.new_text {
	margin-left: 10px;
}
.new_text p {
	margin: 0;
	padding: 0;
}
.new_text span {
	margin: 0;
	padding: 0;
}
.new_text br {
	margin: 0;
	padding: 0;
}

#articuli {
    width: 100%;
}
.articulsss{
    border-bottom: 1px solid #ccc;
    width: 140px;
	padding-right: 5px;
    margin: 0;
    display: inline-block;
    padding-bottom: 10px;
}
.articul
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    float: left;
    height: 225px;
    margin-bottom: 10px;
	padding-right: 5px;
    margin-top: 1px;
    width: 140px;
}
.articulCart
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    float: left;
    height: 140px;
    margin-bottom: 10px;
	padding-right: 5px;
    margin-top: 1px;
    width: 300px;
}
.articul_img
{
    height: 135px;
    padding: 0;
    text-align: center;
    width: 140px;
    overflow: hidden;
}
.articul_img .imageCenter{
    height: 135px;
    margin: 0;
    width: 140px;
}
.articul_img img
{
    max-width: 140px;
    max-height:135px;
    border: none;
    padding:0px;
}
.articul_info {
    width: 150px;
    display: inline-block;
    float: left;
    padding-left: 10px;
}
.articul_info_name {
    font-size: 13px;
	min-height: 52px;
	max-width: 140px;
}
.articul_info_price {
	display: inline-block;
}
#links {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    font-size: 11px;
    font-style: italic;
    text-transform: uppercase;
    background-color: #4d4d4d;
    color: #fff;
    border-bottom: 1px solid #1a1a1a;
}
#links ul {
    margin-left: -20px;
}
#links li {
    height: 20px;
}
footer {
    border-top: 1px solid #4d4d4d;
    width: 100%;
    clear: both;
    background-color: #1A1A1A;
    height: 26px;
    color: #ccc;
    text-align: center;
    font-size: 13px;
}
footer a {
    line-height: 26px;
}

#categories_wrapper {
    color: #333;
    width: 100%;
}
.category_box {
    color: #333;
    padding-left: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    display: block;
    margin-top: 5px;
    padding-bottom: 5px;
}
.category_drop_box {
    background-color: #333;
    width: 100%;
    display: none;
}
.category_drop_item {
    padding-left: 10px;
    text-transform: uppercase;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}
.category_drop_item_active {
    padding-left: 10px;
    text-transform: uppercase;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
	color: #F9C600;
}
.mark_box {
    height: 60px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
#where_am_i_box {
    width: 100%;
    background-color: #FFF;
	margin-bottom: 5px;
	padding-bottom: 5px;
	color: #333;
}
#where_am_i {
    padding-left: 5px;
    line-height: 26px;
	color: #333;
}
#breadcrumb {
    width: 100%;
    background-color: #4d4d4d;
	color: #fff;
}
#bread {
    padding-left: 5px;
    line-height: 26px;
}
#options_box {
    border-bottom: 1px solid #ccc;
}
#options_box table{
    width: 100%;
}
#options_box tr{
    width: 100%;
    height: 26px;
}
#options_box td{
    width: 15%;
    text-align: center;
}
#item_box {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
}
#item_img {
    width: 100%;
    display: block;
}
.item_img {
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 0;
}
.item_img_small {
	margin: 0;
	padding: 0;
}
#item_name {
	margin-left: 5px;
}
#item_price {
    color: #000;

    text-align: right;
    font-size: 19px;
    font-style: italic;
}
#item_razmer {
	margin-top: 5px;
}
#item_razmer a {
	display: inline-block;
	color: #FFF; 
	padding-left: 3px;
	padding-right: 3px;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 3px;
	font-size: 17px;
	background-color: #A1A1A1;
}
#item_razmer a:hover{
	color: #FFF; 
	background-color: #333;
}
#item_info {
    padding-left: 5px;
    padding-right: 5px;
}
#item_more_img_link{
	
}
#item_more_img_link a{
	color: #333;
}
#more_img_link {
	height: 20px;
	line-height: 30px;
	padding: 10px;
}
#item_more_img_box {
	display: none;
}
#item_options {
    margin-top: 5px;
}
#item_options select {
    float: right;
    margin-right: 20px;
    width: 100px;
    height: 30px;
}
.submit_button {
    height: 35px;
    background-color: #0097da;
    padding: 0px 15px 0px 15px;
    float: right;
    min-width: 100px;
    text-align: center;
    line-height: 35px;
}
.btnaddprod
{
    background: none repeat scroll 0 0 #00A7EC;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11pt;
	height: 30px;
	line-height: 30px;
    font-weight: normal;
    padding: 0px 10px;
}
#item_adds {
    color: #0097da;
    text-align: right;
	font-size: 13px;
	margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
#info_tab {
    width: 100%;
    background-color: #4D4D4D;
    color: #FFF;
    height: 26px;
}
#info_tab a{
	 color: #FFF;
}
#info_tab p {
	color: #FFF;
    margin: 0;
    padding-left: 5px;
    line-height: 26px;
}
.card_price {
    color: #000;
    font-size: 19px;

    text-align: right;
    font-style: italic;
}
textarea {
    width: 98%;
    resize: none;
    margin-bottom: 5px;
}
#button {
    margin: 10px auto;
    width: 50%;
}
.button {
    height: 25px;
    background-color: #0097da;
    padding: 0px 15px 0px 15px;
    width: 100%;
    float: right;
    line-height: 25px;
    text-align: center;
    margin-bottom: 5px;
}
.buttonMore {
    height: 25px;
	display: block;
    background-color: #AAA;
    padding: 0px 15px 0px 15px;
    width: 30%;
	min-width: 140px;
	margin: 10px auto;
    line-height: 25px;
    text-align: center;
}
.the_new_box {
	padding-top: 10px;
	margin-bottom: 20px;
}
.the_new_big_img {
    float: left;
    width: 100%;
}
.the_new_name_date {
    display: block;
}
.the_new_name {
    float: left;
    margin-left: 10px;
    display: inline-block
}
.the_new_date {
    float: right;
    margin-right: 10px;
    display: inline-block
}
.the_new_text {
	width: 100%;
	list-style: none;
}
.the_new_text p {
	margin: 0;
	padding: 0;
}
.the_new_text a {
	margin: 0;
	padding: 0;
}
.the_new_text span {
	margin: 0;
	padding: 0;
	max-width: 100%;
	float: left;
}
.the_new_text br {
	margin: 0;
	padding: 0;
}
.the_new_text ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.the_new_text li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#address , #address a, #address p{
	margin: 0;
	padding: 0;
}

#options_box a{
	color: #333;
}
#slider {
	background-color: #333;
	width: 100%;
}
#sliderContent {
	background-color: #333333;
	color: #CCC;
	font-weight: bold;
	display: none;
}
.topMenuAction {
	padding-left: 10px;
    text-transform: uppercase;
	color: #FFF;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}
.error {
	color: red;
	margin-bottom: 20px;
	text-align: center;
}
.login_panel {
	line-height: 40px;
}


