*{	
	margin:0;	
	padding:0;	
	border:none;
	    font-family: Verdana;
    font-size: 10pt;
    color:#808080;
	word-wrap: break-word;
}
a {
    text-decoration: none;
    color: #4A4942;
}
ul{

	 margin-left:13px;
}
ol{

	 margin-left:19px;
}
