*{
	margin:0px;
	padding:0px;
	font-family: Verdana;
	font-size:11pt
}
a{
	text-decoration:none;
}
textarea {
	resize: none;
	border: 1px solid #999999;
	font-family: Verdana;
	font-size:11pt;
	color:#808080;
	padding: 0 0 0 3px;
}
input{
	border: 1px solid #999999;
	font-family: Verdana;
	font-size:11pt;
	color:#808080;
	padding: 0 0 0 3px;
}
body{
	background:#fff;
}
#main_menu{
	background:#333;
	width:100%;
	height:28px;
	position: fixed;
	border-bottom: 1px solid #FFF;
}
#main_menu li{
	display:inline-block;
	list-style: none outside none;
	height:25px;


}
#main_menu li a{
	color:#fff;
	height:25px;
	width:258px;
	text-align:center;
	line-height:25px;
	display:inline-block;
}
#main_menu li a:hover, #main_menu li a.active{
	background:#FF671F;
	color:#FFF;
}
.main{
	margin-top:25px;
}
